@font-face 
  font-family: "iconfont"
  src:
    url("../fonts/iconfont.woff") format("woff"),
    url("../fonts/iconfont.ttf") format("truetype")

[class^="icon-"], [class*=" icon-"]
  font-family: "iconfont"!important
  font-size: 100%
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.icon-xiangshang 
  &:before 
    content: "\e66b";
  

.icon-wofabude 
  &:before 
    content: "\e621";
  

.icon-xiugai 
  &:before 
    content: "\e620";
  

.icon-location 
  &:before 
    content: "\e662";
  

.icon-duanxinyanzhengma 
  &:before 
    content: "\e61b";
  

.icon-tongjifenxi2 
  &:before 
    content: "\e64b";
  

.icon-zichan 
  &:before 
    content: "\e61c";
  

.icon-zhaiquan 
  &:before 
    content: "\e655";
  

.icon-car 
  &:before 
    content: "\e62a";
  

.icon-left 
  &:before 
    content: "\e605";
  

.icon-password 
  &:before 
    content: "\e65e";
  

.icon-jia 
  &:before 
    content: "\e622";
  

.icon-fankui 
  &:before 
    content: "\e63c";
  

.icon-fenxiang2 
  &:before 
    content: "\e61e";
  

.icon-home 
  &:before 
    content: "\e627";
  

.icon-kanyangfuwu 
  &:before 
    content: "\e6ec";
  

.icon-book 
  &:before 
    content: "\e63d";
  

.icon-guquanchoujiang 
  &:before 
    content: "\e65c";
  

.icon-message 
  &:before 
    content: "\e75b";
  

.icon-fangzu 
  &:before 
    content: "\e60f";
  

.icon-gou 
  &:before 
    content: "\e611";
  

.icon-qitafuwu 
  &:before 
    content: "\e639";
  

.icon-shenhetongguo 
  &:before 
    content: "\e624";
  

.icon-lurubaogao 
  &:before 
    content: "\e630";
  

.icon-sifa 
  &:before 
    content: "\e631";
  

.icon-cha 
  &:before 
    content: "\e628";
  

.icon-username 
  &:before 
    content: "\e671";
  

.icon-qiandaijinbi 
  &:before 
    content: "\e602";
  
.icon-search 
  &:before 
    content: "\e65f";
  

.icon-inquiry 
  &:before 
    content: "\e652";
  

.icon-land 
  &:before 
    content: "\e7fc";
  

.icon-phone:before 
  content: "\e6f4";

.icon-tianping 
  &:before 
    content: "\e607";
  

.icon-zuanshi 
  &:before 
    content: "\e653";
  

.icon-rili 
  &:before 
    content: "\e618";
  

.icon-notice 
  &:before 
    content: "\e6eb";
  

.icon-yuyueguahao 
  &:before 
    content: "\e656";
  

.icon-yonggongzongliang 
  &:before 
    content: "\e63b";
  

.icon-nonglinmuyu 
  &:before 
    content: "\e619";
  

.icon-lunchuan 
  &:before 
    content: "\e741";
  

.icon-uc 
  &:before 
    content: "\e657";
  

